<template>
     <div class="lg:mt-20 mt-14">
          <BannerGroup />
          <div class="mt-5 bg-black py-12">
               <div class="container">
                    <div class="flex justify-center">
                         <div class="text-white lg:mt-5 border-b-2 :border-white lg:w-2/3 w-full tablet-640:text-lg text-xs font-medium">
                              <div class="grid grid-cols-4 gap-2">
                                   <div
                                        v-for="(item, index) in listCategory"
                                        :key="index"
                                        :class="(activeCategories === item.id) ? 'bg-white text-black border__menu' : ''"
                                        @click="activeCategories = item.id"
                                        class="col-span-1 py-3 flex justify-center cursor-pointer"
                                   >{{ item.name }}</div>
                              </div>
                         </div>
                    </div>
                    <div class="grid desktop-xs:grid-cols-3 grid-cols-2 lg:gap-8 gap-2 lg:mt-20 mt-10">
                         <div
                         v-for="(item, index) in products"
                         :key="index"
                         class="col-span-1 bg-white rounded-15 shadow-xl height--card">
                              <img class="w-full rounded-t-15 object-cover height--image" src="~/assets/image/hut-mui.jpg" alt="">
                              <div class="lg:px-4 px-2 py-3 relative">
                                   <div
                                        class="lg:text-2xl tablet-600:text-xl text-sm font-bold text-black truncate w-full"
                                   >MODEL: {{ item.model }}</div>
                                   <div class="mt-3 lg:text-lg tablet-600:text-sm text-xs text-gray-500 truncate-line__2 lg:h-14 tablet-600:h-10 h-8">
                                        {{ item.description }}
                                   </div>
                                   <div class="mt-3 tablet-600:flex justify-between items-center">
                                        <div class="lg:text-2xl tablet-600:text-xl text-sm font-bold text-black truncate">
                                             {{ item.price }} VNĐ
                                        </div>
                                        <div class="mt-3 tablet-600:mt-0">
                                             <BtnShowMoreVue />
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div v-if="pageItem.totalPage > 1" class="mt-12">
                         <vs-pagination
                              :total-pages="pageItem.totalPage"
                              :current-page="pageItem.currentPage"
                              @change="changePage"
                         />
                    </div>
               </div>
          </div>
          <div class="my-12 container tablet-600:h-420px h-256px">
               <div class="flex justify-center">
                    <div class="relative tablet-600:w-4/5 w-11/12 tablet-600:mt-10">
                         <div class="bg-white w-2/5 rounded-15 shadow-2xl absolute top-0 left-0 z-30 tablet-600:flex hidden">
                              <img class="w-full" src="~/assets/image/logo.png" alt="logo">
                         </div>
                         <div
                              class="bg-black tablet-600:w-3/4 w-full px-12 py-8 rounded-15 shadow-2xl
                              tablet-600:absolute lg:top-16 tablet-600:top-12 tablet-600:right-0 z-10 text-white"
                         >
                              <div class="lg:text-2xl tablet-600:text-xl text-sm font-bold text-center">Thiết bị bếp cao cấp Marchen</div>
                              <div class="mt-6 lg:text-lg tablet-600:text-sm text-xs text-center">
                                   Marchen Việt Nam là công ty phân phối độc quyền các sản phẩm, thiết bị nhà bếp độc quyền của thương hiệu Marchen.
                                   Chúng tôi luôn tự hào là đối tác tin cậy, nơi cung cấp các sản phẩm chính hãng,
                                   giá cả hợp lý của thương hiệu thiết bị bếp cao cấp Marchen.
                              </div>
                              <a href="tel:+084965020318">
                                   <div class="flex justify-end mt-5">
                                        <div
                                             @click="$emit('on-Click')"
                                             class="rounded-full w-40 tablet-600:py-3 py-2 tablet-600:px-5 px-2 shadow-2xl bg-bgHeaderBule text-center shadow-custom"
                                        >
                                             <p class="text-white tablet-600:text-base text-xs font-medium">Liên hệ</p>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>
               </div>
          </div>
          <div class="tablet-600:my-20 my-10 mx-15px">
               <div class="lg:mt-40 mt-5">
                    <carousel
                         :perPageCustom="[[200, 1], [768, 2], [1024, 3]]"
                         :mouse-drag="true"
                         :autoplay="true"
                         :loop="true"
                         :autoplayTimeout="5000"
                    >
                         <slide v-for="(post, index) in posts" :key="index">
                              <div class="flex justify-center">
                                   <div class="w-3/4 shadow-2xl">
                                        <img class="w-full height--image_post object-cover" src="~/assets/image/hut-mui.jpg" alt="">
                                        <div class="py-4 px-2 text-center">
                                             <div
                                                  class="tablet-600:px-2 lg:text-2xl tablet-600:text-xl text-sm font-bold text-black truncate w-full"
                                             >{{ post.name }}</div>
                                             <div class="flex justify-center mt-2">
                                                  <div class="border-b-2 border-black w-1/3" />
                                             </div>
                                             <div class="mt-3 lg:text-lg tablet-600:text-sm text-xs text-gray-500 truncate-line__3 px-5 text-center">
                                                  {{ post.content }}
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </slide>
                    </carousel>
               </div>
          </div>
          <LoadingVue :loading="loading" />
     </div>
</template>
   
<script>
import { Carousel, Slide } from 'vue-carousel';
import BannerGroup from '@/components/home/BannerGroup'
import LoadingVue from '~/components/Loading.vue';
import BtnShowMoreVue from '~/components/home/BtnShowMore.vue';
import { getItem, getIdItem, getPost, getIdPost } from '~/api/home'
   
export default {
     components: {
          Carousel, 
          Slide,
          LoadingVue,
          BtnShowMoreVue,
          BannerGroup,
     },
     layout: 'home',
     mounted() {
          this.getData();
     },
     data() {
          return {
               listCategory: [
                    {id: '1', name: 'Bếp từ'},
                    {id: '2', name: 'Hút mùi'},
                    {id: '3', name: 'Máy rửa bát'},
                    {id: '4', name: 'Đồ gia dụng'},
               ],
               pageItem: {
                    currentPage: null,
                    totalCount: null,
                    totalPage: null,
                    page: 1,
                    pageSize: 9,
                    order: 'DESC',
               },
               products: [],
               posts: [],
               pagePost: {
                    currentPage: null,
                    totalCount: null,
                    totalPage: null,
                    page: 1,
                    pageSize: 9,
                    order: 'DESC',
               },
               activeCategories: '1',
               loading: false,
          };
     },
     methods: {
          async getData() {
               try {
                    this.loading = true;
                    await this.getDataProducts();
                    await this.getDataPosts();
               } catch (error) {
                    console.log(error);
               } finally {
                    this.loading = false;
               }
          },
          async getDataProducts() {
               try {
                    // this.loading = true;
                    const {data} = await getItem(this.pageItem);
                    if (data) {
                         this.products = data.data;
                         const pagination = data.pagination;
                         this.pageItem = {
                              currentPage: pagination.currentPage,
                              totalCount: pagination.totalCount,
                              totalPage: pagination.totalPage,
                              page: 1,
                              pageSize: 9,
                              order: 'DESC',
                         };
                    }
               } catch (error) {
                    console.log(error);
               } finally {
                    // this.loading = false;
               }
          },
          async getDataPosts() {
               try {
                    // this.loading = true;
                    const {data} = await getPost(this.pagePost);
                    if (data) {
                         this.posts = data.data;
                         const pagination = data.pagination;
                         this.pagePost = {
                              currentPage: pagination.currentPage,
                              totalCount: pagination.totalCount,
                              totalPage: pagination.totalPage,
                              page: 1,
                              pageSize: 9,
                              order: 'DESC',
                         };
                         console.log(this.posts);
                         console.log(this.pagePost);
                    }
               } catch (error) {
                    console.log(error);
               } finally {
                    // this.loading = false;
               }
          },
          async getDataCategory() {
               console.log(111111111);
          },
          changePage() {
               console.log(222222);
          },
     },
   
};
</script>

<style lang="scss" scoped>
     .border__menu {
          border-radius: 15px 15px 0 0;
     }

     ::v-deep .vs-pagination {
          li {
               a{
                    color: white;
               }
          }
          .vs-pagination--active {
               a {
                    background: white !important;
                    border-radius: 4px;
                    color: black !important;
               }
          }
     }
</style>
   