<template>
     <div>
          <div class="header header--h shadow-xl">
               <div class="container">
                    <div class=" grid grid-cols-12 gap-5">
                         <div class="lg:col-span-3 col-span-6">
                              <img class="header--h cursor-pointer" src="~/assets/image/logo.png" />
                         </div>
                         <div class="col-span-6 lg:flex hidden items-center xl:gap-8 desktop-md:gap-12">
                              <nuxt-link
                                   class="text-base font-semibold uppercase cursor-pointer hover:text-bgHeaderBule hover:opacity-50 mr-6"
                                   @click="showMenu = false"
                                   to="/"
                              >Trang chủ</nuxt-link>
                              <nuxt-link
                                   class="text-base font-semibold uppercase cursor-pointer hover:text-bgHeaderBule hover:opacity-50 mr-6"
                                   @click="showMenu = false"
                                   to="/products"
                              >Sản phẩm</nuxt-link>
                              <nuxt-link
                                   class="text-base font-semibold uppercase cursor-pointer hover:text-bgHeaderBule hover:opacity-50"
                                   @click="showMenu = false"
                                   to="/"
                              >Liên hệ</nuxt-link>
                         </div>
                         <div class="lg:col-span-3 col-span-6 flex justify-end items-center">
                              <div class="w-4/5 tablet-768:flex hidden">
                                   <BaseInputSreachVue v-model="sreach" @value-sreach="hanlderSreach" />
                              </div>
                              <div
                                   class="w-1/5 lg:hidden flex items-center justify-end ml-5 cursor-pointer"
                                   @click="hanlderClick(showMenu)"
                              >
                                   <img class="w-6 h-6" src="~/assets/image/menu.png" alt="icon-menu">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="lg:hidden">
               <div v-show="showMenu" class="memu">
                    <div class="my-5 ml-5">
                         <div
                              class="text-base font-semibold uppercase cursor-pointer hover:text-bgHeaderBule hover:opacity-50 mr-6 border-b border-gray-400 pb-2"
                              @click="showMenu = false"
                         >Trang chủ</div>
                         <div
                              class="mt-3 text-base font-semibold uppercase cursor-pointer hover:text-bgHeaderBule hover:opacity-50 mr-6 border-b border-gray-400 pb-2"
                              @click="showMenu = false"
                         >Sản phẩm</div>
                         <div
                              class="mt-3 text-base font-semibold uppercase cursor-pointer hover:text-bgHeaderBule hover:opacity-50 mr-6 border-b border-gray-400 pb-2"
                              @click="showMenu = false"
                         >Liên hệ</div>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
import BaseInputSreachVue from '../BaseInputSreach.vue';

export default {
     components: {
          BaseInputSreachVue,
     },
     data() {
          return {
               sreach: '',
               showMenu: false,
          }
     },
     methods: {
          hanlderSreach(event) {
               console.log('event: ', event);
               this.sreach = event;
               console.log('sreach: ', event);
               //router.push('/sreach');
          },
          hanlderClick(value) {
               this.showMenu = !value;
          },
     },
}
</script>

<style lang="scss" scoped>
     .header {
          background: #FFFFFF;
          position: fixed;
          z-index: 99999;
          top: 0;
          right: 0;
          left: 0;
          &--h {
               height: 56px;
          }
     }

     .memu {
          background: #FFFFFF;
          position: fixed;
          z-index: 99999;
          border-top: 2px solid rgb(75, 85, 99);
          top: 56px;
          right: 0;
          height: calc(100vh - 56px);
          width: 90%;
     }

     @media screen and (min-width: 1024px) {
          .header {
          background: #FFFFFF;
          position: fixed;
          z-index: 99999;
          top: 0;
          right: 0;
          left: 0;
          &--h {
               height: 82px !important;
          }
     }
     }
</style>
