<template>
     <div>
          <div class="bg-black text-white pt-8 pb-12 relative">
               <div class="container mb-4">
                    <div class="grid grid-cols-7 lg:gap-8 tablet-600:gap-4 gap-2">
                         <div class="lg:col-span-2 tablet-600:col-span-3 col-span-5">
                              <div>
                                   <p class="font-bold text-base">Cơ sở sản xuất:</p>
                                   <p class=" text-xs ml-2 mt-1">
                                        <span class=" font-bold">Cở sở 1:</span>
                                        Cụm công nghiệp quất động-Nguyễn Trãi-Thường Tín-Hà Nội.
                                   </p>
                              </div>
                              <div class="mt-10 tablet-600:mb-0 mb-8">
                                   <p class="font-bold text-base">Sản phẩm:</p>
                                   <p class=" text-xs ml-2 mt-1">* Bếp từ</p>
                                   <p class=" text-xs ml-2 mt-1">* Hút mùi</p>
                                   <p class=" text-xs ml-2 mt-1">* Máy rửa bát</p>
                                   <p class=" text-xs ml-2 mt-1">* Đồ gia dụng</p>
                              </div>
                         </div>
                         <div class="lg:col-span-2 tablet-600:col-span-3 col-span-5 ">
                              <div class="font-bold text-base">Liên hệ:</div>
                              <a href="tel:+084965020318" class="text-xs ml-2 mt-1">
                                   <span class=" font-bold">Số điện thoại: </span>
                                   0965020318
                              </a>
                              <p class="text-xs ml-2 mt-1 cursor-pointer">
                                   <span class=" font-bold">Gmail: </span>
                                   marchen4686@gmail.com
                              </p>
                              <a href="https://www.facebook.com/bang.nguyenvan.9828456" target="_blank" class="text-xs ml-2 mt-1">
                                   <span class=" font-bold">Facebook: </span>
                                   https://www.facebook.com/bang.nguyenvan.9828456
                              </a>
                              <div class="flex items-center mt-6 mb-10">
                                   <a href="tel:+084965020318" class="w-10 h-10 rounded-md bg-white relative mr-5">
                                        <img
                                             class=" absolute bottom-0"
                                             style="width: 30px; height: 30px; right: 2px;"
                                             src="~/assets/image/facebook.png"
                                             alt=""
                                        >
                                   </a>
                                   <div class="w-10 h-10 rounded-md bg-white flex justify-center items-center mr-5 cursor-pointer">
                                        <img
                                             class=" absolute "
                                             style="width: 30px; height: 30px;"
                                             src="~/assets/image/gmail.png"
                                             alt=""
                                        >
                                   </div>
                                   <a
                                        href="https://www.facebook.com/bang.nguyenvan.9828456"
                                        target="_blank"
                                        class="w-10 h-10 rounded-md bg-white flex justify-center items-center"
                                   >
                                        <img
                                             class=" absolute "
                                             style="width: 30px; height: 30px;"
                                             src="~/assets/image/phone.svg"
                                             alt=""
                                        >
                                   </a>
                              </div>
                         </div>
                         <div class="lg:col-span-3 col-span-7">
                              <a href="https://www.google.com/maps/place/C%E1%BB%A5m+c%C3%B4ng+nghi%E1%BB%87p+qu%E1%BA%A5t+%C4%91%E1%BB%99ng/@20.8400197,105.8423033,14z/data=!4m5!3m4!1s0x3135b3f61d12ab6d:0xc022a22ec14958b2!8m2!3d20.843504!4d105.8650538?hl=vi" target="_blank">
                                   <img class="w-full h-full" src="~/assets/image/maps.png" alt="" />
                              </a>
                         </div>
                    </div>
               </div>
               <div class="text-center absolute bottom-0 left-0 right-0 text-xs py-3" style="background: #292929;">
                    <p>Copyright © 2022 - Bản quyền thuộc về <span class=" font-bold">märchen</span></p>
               </div>
          </div>
     </div>
</template>
<script>
export default {
     
}
</script>
<style lang="scss" scoped>
     
</style>